<html>
<head>
  <title>Metric</title>
  <link rel="stylesheet" href="/reset.css" type="text/css" media="screen" charset="utf-8">
  <link rel="stylesheet" href="/base.css" type="text/css" media="screen" charset="utf-8">
</head>

<body>
  
  <header>
    <h1><img src="/logo.png" alt="Metrics" /></h1>
  </header>
  
  <section id="content">
    <section id="chart">
      <div id="month"></div>  
    </section>
    
    <table>
      <tr>
        <th>IP</th>
        <th>City</th>
        <th>Country</th>
        <th>User Agent</th>
        <th>Url requested</th>
        <th>Visited at</th>
      </tr>
      <% @metrics.each do |m| %>
        <% agent = UserAgent.new(m.user_agent) %>
        <tr>
          <td><%= m.ip %></td>
          <td><%= m.location_city %></td>
          <td class="tooltipped center"><img src="/flags/<%= to_country_code("#{m.location_country}") %>.png" alt="<%= m.location_country %>" /><span class="tooltip"><%= m.location_country %></span></td>
          <td class="tooltipped"><%= agent.name.capitalize %> (<%= agent.version %>) running on <%= agent.os %> <span class="tooltip"><%= m.user_agent %></span></td>
          <td><%= m.url %></td>
          <td><%= m.visited_at.strftime("%a, %d %b %Y, %I:%M %p") %></td>
        </tr>
      <% end %>
    </table>
  </section>
  
  <script type="text/javascript" src="/jquery.min.js" charset="utf-8"></script>
  <script type="text/javascript" src="/jquery.graph.js" charset="utf-8"></script>
  <script type="text/javascript" charset="utf-8">
    jQuery(function($){
      $("#month").graph({
        drawLineGraph:true,
        intervals: <%= (Date.today-22..Date.today).map { |day| day.strftime("%d")} %>,
        data:  <%= (Date.today-21..Date.today+1).map { |date| @metrics.count(:conditions => ["visited_at >= ? and visited_at <?",date-1, date])}.inspect %>
      });        
    });
  </script>

</body>
</html>